<!DOCTYPE html>
<html>
<head>
    <title>jinksPadlock</title>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/normalize/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/sliders.css" />
</head>
<body>
<section class="component slider slider-about">
    <div class="container">
        <h1>ABOUT</h1>
    </div>
</section>

<section class="component content">
    <div class="container">
        <div class="imgContainer"><img src="/images/waterfall.jpg" style="margin-top: 10px;"/></div>
        <p class="intro-h" style="font-size: 2em; font-weight: 400; margin-bottom: 20px;">jinksPadlock: Geekery Ab Hinc! </p>
        <p class="intro">For fun, I build weird gadgets and gizmos, make stuff talk to other stuff, love to solve problems and build things, and shovel all kinds of data. Take this page for instance. I built this during my lunch hour because I'm interested in tooling around with AWS and node.js. Half way through getting this setup I took a detour and wanted to make a page with slidey-components like I see on the fancy pants side of the interwebs. Look at me, I'm all highfalutin. Cue Fry from Futurama:"WoooooooooOOOoooooooo!"</p>
    </div>
</section>

<section class="component slider slider-work">
    <div class="container">
        <h1>WORK</h1>
    </div>
</section>

<section class="component content">
    <div class="container">
        <h2>Software Development</h2>
        <div class="row">
            <div class="col-md-4">+ Senior Data Engineer</div>
            <div class="col-md-4">+ DevOps Engineer</div>
            <div class="col-md-4">+ GIS Application Development</div>
        </div>
        <div class="row">
            <div class="col-md-4">+ Fullstack Web Developer</div>
            <div class="col-md-4">+ Information Security &amp; Pen Testing</div>
            <div class="col-md-4">+ API Development</div>
        </div>
        <div class="row">
            <div class="col-md-4">+ MEAN, LAMP, or ASP.NET</div>
            <div class="col-md-4">+ node.js(Express), Flask, Django, MVC 5</div>
            <div class="col-md-4">+ RTOS/SCADA Applications</div>
        </div>
        </br>
        <h2>Programming Languages</h2>
        <div class="row">
            <div class="col-md-4">+ Python 3.5</div>
            <div class="col-md-4">+ C&#35;</div>
            <div class="col-md-4">+ C/C++</div>
        </div>
        <div class="row">
            <div class="col-md-4">+ javascript (jQuery, AngularJS, bootstrap, d3.js)</div>
            <div class="col-md-4">+ R</div>
            <div class="col-md-4">+ T-SQL, PL/SQL</div>
        </div>
        </br>
        <h2>Projects</h2>
        <div class="row">
            <div class="col-md-4"><a href="https://github.com/jinksPadlock/Scrap">This site!</a></div>
            <div class="col-md-4"><a href="https://flightaware.com/adsb/stats/user/jinkspadlock">My Raspberry Pi crowdsourcing for ADS-B and MLAT</a></div>
            <div class="col-md-4"><a href="https://github.com/jinksPadlock/ScrapeFO">Sometimes I scrape data.</a></div>
        </div>
    </div>
</section>

<section class="component slider slider-contact">
    <div class="container">
        <h1>CONTACT</h1>
    </div>
</section>

<section class="component content contact-form">
    <div class="container">
        <h2>3, 2, 1, Contact!!!</h2>
    </div>
</section>
</body>
</html>
